@import '@/assets/fonts/fonts';

$primary-color: #42b983;
$secondary-color: #35495e;
$unbounded-v: 'Unbounded variable', sans-serif;
$unbounded: 'Unbounded', sans-serif;
$work-sans: 'Work sans', sans-serif;